@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Nunito:wght@200&display=swap');

*{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Handjet', cursive;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
}

#header_main{
    padding: 2%;
    min-width: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.container{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: 6%;
}

#header_main #nav_main{
    align-items: right;
    display: flex;
}

#container_main{
    display: flex;
}

#section_left{
    margin: 10px 30px;
    padding: 5px 5px;
    background-color: gray;
    width: 250px;
    height: fit-content;
}


#container_main .container #section_left nav{
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#container_main .container #section_left nav a{
    padding: 10px;
    border: solid 1px black;
}

#container_main .container #section_left nav a:hover{
    transition: 0.3s;
    background-color: black;
    color: white;
}

#container_main .container #section_left aside{
    text-align: center;
    border-color: aquamarine;
    background-color: white;
    margin: 20px;

}

#header_main nav a:hover{
    transition: 0.5s;
    color: red;
}

.container #section_right article .as{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    margin: 20px 0px;
}

.container #section_right article .as .l{
    display: flex;
    flex-direction: row;
}



.container #section_right article aside{
    padding: 0px 20px;
    background-color: #919191;
}

.container #section_right article .as .l aside{
    padding: 5%px;
    
}

.container #section_right article .as .l .text{
    padding: 2%;
}

p{
    font-size: 10px;
    padding: 2px;
}

.container #section_right footer{
    border: solid 1px black;
}

footer{
    padding: 2%;
    min-width: 10px;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between;
}

footer #footer nav a:hover{
    transition: 0.3s;
    color: red;
}

.container #section_right h1{
    margin-top: 0px;
}


@media (max-width: 768px) {


    .container #section_right{
        max-width: 400px;
    }



    #header_main{
        padding: 4%;
    }



}


