body{
    margin: 0px;
    background-color: #f5f5f5;
}

.container{
    margin: 0px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

header{
    min-width: 10px;
    align-items: center;
    display: flex;
    
    border-bottom: solid 0.5px;
    justify-content: space-between;
    width: 900px;
}

a{
    text-decoration: none;
    color: #000000;
    padding: 0px 20px;
    transition: 0.3s;
}

#main_nav a:hover{
    color: white;
    transition: 0.3s;
}

