@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');



body{
    padding: 0px;
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: 'Handjet', cursive;
    align-items: center;
    margin: 0px;
    background: url(minimalist.jpg);
    background-size: cover;
}

img{
    width: 50px;
}

header nav{
    margin-top: 40px;
    min-width: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

header nav a{
    align-items: center;
    background-color: white;
}

a{
    
    text-decoration: none;
    text-align: center;
    color: black;
    border: 10%;
    width: 150px;
}

header nav a:hover{
    transition: 0.3s;
    background-color: black;
    color: white;
    box-shadow: #f5f5f5 inset;
}

form{
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

fieldset{
    padding: 2rem 3rem;
    text-align: center;
    color: white;
    border: 1px solid #fff;
    border-radius: 10%;
    backdrop-filter: blur(15px);
}


textarea{
    resize: none;
}
