@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: url(../img/desktop-1920x1080.jpg);
    background-size: auto;
    background-position: top;
    margin: 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    color: white;
    padding: 5px 10px;
    border: solid 1px;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
    backdrop-filter: blur(5px);
}

label{
    margin: 0.6em;
    transition: 0.3s;
}

.botones{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}

.botones button{
    margin: 0px 20px;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    transition: 0.3s;
}

.botones button:hover, h2{
    transition: 0.3s;
    transform: scale(120%);
    background-color: black;
    color: white;
}

input{
    text-align: center;
    color: wheat;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.exito{
    color: white;
    font-size: 2em;
    transform: translateY(1000%);
}